DataBase/.env
DataBase/Data/
DataBase/db_data
MLFlow/.env
MLFlow/db_data
MLFlow/minio_data
Recommender/.env
Recommender/embeddings
Recommender/__pycache__
Preprocessing/code
Preprocessing/__pycache__
API/__pycache__
API/.env
API/Recommender/code